{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkify</title>
    <link rel="stylesheet" href="{% static 'first/template1.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="max-width">
          <div class="logo">
            <a href="/"> <span>Checkify</span>.com</a>
          </div>
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="home" id="home">
      <div class="text">
        <p>Check if your website is up in a click!</p>
      </div>
      <!-- <div class="circle">
        {% comment %} <img src="{% static 'first/images/Check1.png' %}" alt=""> {% endcomment %}
        
        {% block body %} {% endblock %} -->

         <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"
          >
        </script>
      </section>
    
  </body>
</html>
